.bg-color-container{
	    background-color:#EOF7FF;
	}
	.border-container{
	    border: 2px solid antiquewhite;
	}
	.list-elements {
	    font-size: 1.2em;
	    width: 100%;
	    padding: 2px;
	}
	.bg-list{
	    background-color: #EOFFF4;
	}


